@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
	font-family: 'Noto Sans JP', sans-serif;
}


.hero {
  .store-ttl {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    left: 50%;
    color: #fff;
    font-size: 3rem;
    z-index: 10;
    text-shadow: 2px 2px 5px #1c1c1c7b;
    font-family: var(--font-noto);
    font-weight: 300;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 767px) {
  .hero {
    .store-ttl {
      font-size: 2rem;
      text-align: center;
    }
  }
}

.filters__wrap {
  padding: 20px;
  font-size: 12px;

	&::after {
		content: "";
		margin: 20px 0;
		display: block;
		width: 100%;
		border-bottom: 1px solid #ccc;
	}

	.filters {
		display: flex;
		align-items: center;
		justify-content: space-between;
	
		input,
		select {
			border-radius: 100px;
			background: #fff;
			border: 1px solid #1c1c1c;
			margin: 0 5px;
			padding: 5px 24px 5px 16px;
			gap: 8px;
			height: 30px;
		}
	
		.total-items {
			font-size: 1.2em;
		}
	

		
	}
}

.search-result__wrap {
	display: flex;
	flex-wrap: wrap;
	font-size: 12px;
	padding: 0 40px;

	.product-list {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-column-gap: 10px;

		.product-item {
			padding: 10px;
			margin: 0 0 20px;

			h3 {
				&.product-item__name {
					margin: 0;
					font-weight: normal;

					a {
						color: #1c1c1c;
						text-decoration: none;

						&:hover {
							color: #0075e3;
							cursor: pointer;
						}
					}
				}
			}

			p {
				margin: 5px 0;
				font-size: 1.2em;
				font-weight: bold;
			}
		}

		.product-item__img {
			text-align: center;

			img {
			width: 90%;
			}
		}

		.product-txt {
			width: 90%;
			margin: 0 auto;
		}
	}
}



@media (max-width: 768px) {
	.filters__wrap {
		padding-left: 1rem;
		padding-right: 1rem;

		.filters {
			.total-items {
				width: 100%;
			}

			.sort__wrap {
				text-align: right;
		
				input {
					margin-bottom: .5rem;
				}
			}
		}
	}

	.search-result__wrap {
		justify-content: center;
		padding: 0 0.5rem;

		.product-list {
			grid-template-columns: repeat(2, 1fr);
			grid-column-gap: 0;

			.product-item {
				margin: 0 0 10px;
			}

			.product-txt {
				margin: 0 auto;
			}
		}
	}
}
